.header{
  text-align: center;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2%;
  background-color:rgb(230, 221, 210);
}

.wrap-main {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.navigation{
  margin-right: 1%;
  padding: 3%;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 20px;
}

.navigation ul{
  list-style: none;
  text-align: center;
  padding: 0;
}

.main {
  padding: 3%;
  background-color:aqua;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
}